<h3>Login in Page</h3>
<br>
<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <br></br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <br></br>
  <input type="submit" value="Log in">
  &nbsp; <b> Or <i><a href="/signup">Sign up</a></i></b> 
</form>
