<h3>Connected to your personal show page</h3>

Daily Calorie count
<br></br>
Day: <%= Time.now.strftime("%B %e, %Y") %>
<br>
Current calorie count: <%= @total_calories %>
<br></br>



Previous Days
<br></br>
Add day

<a href="/logoff">Log off</a>
