<br>
<h4>Add Meal Day</h4>
<br>
<form action="/days" method="post">
  <label for="date">Date:</label>
  <input type="date" name="date" id="date">
  <br></br>
  <input type="radio" name="meal_time" value="Breakfast" id="breakfast">
  <label for="breakfast">Breakfast</label>

  <input type="radio" name="meal_time" value="Lunch" id="lunch">
  <label for="lunch">Lunch</label>

  <input type="radio" name="meal_time" value="Dinner" id="dinner">
  <label for="dinner">Dinner</label>

  <input type="radio" name="meal_time" value="Snack" id="snack">
  <label for="snack">Snack</label>

  <br></br>
  <input type="submit" value="Create Day">

</form>
