<br>
<h4>Create a Meal</h4>
<br>
<form action="/meals" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <br> </br>

  <label for="calories">Calories:</label>
  <input type="integer" name="calories" id="calories">
  <br></br>

  <input type="submit" value="Create">

</form>
