
<!doctype html>
<html>
  <head>
    <title>Meal-Calorie Tracker</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>

    <nav>
      <% if logged_in? %>
        &nbsp; Welcome <%= @user.username %>
      <% end %>
    </nav>

    <div class="container">
      <h1>Meal-Calorie Tracker</h1>

      <% if flash.has?(:message) %>
      <div class="alert alert-warning">
        <%= flash[:message] %>
      </div>
      <% end %>

      <%= yield %>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
