
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Meal-Calorie Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>

    <nav>
      <div class="container">
      <% if logged_in? %>
        Welcome <%= current_user.username %>
      <% end %>
      </div>
    </nav>

    <div class="container wrapper clearfix">
      <h1>Meal-Calorie Tracker</h1>

      <% if flash.has?(:message) %>
      <div class="alert alert-warning">
        <%= flash[:message] %>
      </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
